/* Raleway font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');
/* JetBrains Mono font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Zilla Slab font */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --text-primary: #b6b6b6;
    --text-secondary: #9c9cac;
    --bg-primary: #1a1a1a;
    --bg-secondary: #2d2d2d;
    --text-saturated: hsl(10, 90%, 60%);

    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: var(--text-primary);
    background: var(--bg-primary);
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
    color: var(--text-primary);
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: var(--bg-secondary);
}

.headings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;

    font-size: 1.5em;
    color: var(--text-primary);
}

.headings * {
    margin: 0;
    padding: 0;
    vertical-align: text-bottom;
    text-align: center;
}

.name {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--text-saturated);
    text-align: center;
    animation: name 4s infinite;
}

@keyframes name {
    0% {
        filter: hue-rotate(0deg);
    }
    25% {
        filter: hue-rotate(10deg);
    }
    50% {
        filter: hue-rotate(0deg);
    }
    75% {
        filter: hue-rotate(-10deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}

.highlight {
    display: inline-block;
    position: relative;
    font-weight: bold;
}

.highlight::before {
    width: 100%;
    height: 0.35em;
    top: calc(50% + 0.26em);
    margin-left: 0.6ch;
    content: ' ';
    display: block;
    position: absolute;
    background: var(--text-saturated);
    z-index: -1;
    filter: brightness(0.9);
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5em;
    color: var(--text-secondary);
    margin: 0;
    padding: 0;
    height: 100vh;
}

.section {
    max-width: 80%;
    margin: 0 auto;
    padding: 30 40;
}

.blog {
    max-width: 800px;
    margin: auto;
    padding: 30;
    line-height: 1.6;
}

.blog h1 {
    text-align: center;
}

.blog code {
    font-family: 'JetBrains Mono', monospace;
    color: var(--text-secondary);
}

.blog pre:has(code:only-child) {
    display: inline;
}

.blog pre>code {
    font-size: 1.1em;
    line-height: 1.25;
    color: var(--text-secondary);
}

.blog :not(pre)>code {
    margin-left: 5;
    margin-right: 5;
}

.blog img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}


/* A `.navbar` is an unordered list of `.navbar-item`s.
 * A `.navbar may have an `.navbar-horizontal` or `.navbar-vertical`
 * to force itself to one direction,
 * or it may have `.navbar-auto` to allow it to align automatically.
 */

:root {
    --navbar-size-when-horizontal: 4rem;
    --navbar-size-when-vertical: 6rem;
}

ul.navbar {
    display: flex;
    align-items: center;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    width: var(--navbar-size-when-vertical);
    height: var(--navbar-size-when-horizontal);
    background: var(--bg-secondary);
    transition: 0.2s ease-out;
}

.navbar.navbar-horizontal {
    flex-direction: row;
    position: sticky;
    width: 100%;
    --navbar-size: var(--navbar-size-when-horizontal);
}

/* Automatically choose horizontal navbar */
@media only screen and (max-width: 768px) {
    .navbar.navbar-auto {
        flex-direction: row;
        position: sticky;
        width: 100%;
        --navbar-size: var(--navbar-size-when-horizontal);
    }
}

.navbar.navbar-vertical {
    flex-direction: column;
    position: fixed;
    height: 100vh;
    --navbar-size: var(--navbar-size-when-vertical);
}

.navbar.navbar-vertical ~ * {
    margin-left: var(--navbar-size-when-vertical);
}

/* Automatically choose vertical navbar */
@media only screen and (min-width: 768px) {
    .navbar.navbar-auto {
        flex-direction: column;
        position: fixed;
        height: 100vh;
        --navbar-size: var(--navbar-size-when-vertical);
    }

    .navbar.navbar-auto ~ * {
        margin-left: var(--navbar-size-when-vertical);
    }
}

.navbar:hover {
    --navbar-size-when-horizontal: 6rem;
    --navbar-size-when-vertical: 8rem;
}

.navbar>li {
    display: flex;
    width: 100%;
    height: 100%;

    transition: filter 0.2s;
    filter: brightness(0.8);
}

.navbar>li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.navbar>li:hover {
    filter: brightness(0.9);
}

.navbar-icon {
    width: 2.5rem;
    transition: width 0.2s;
}

.navbar>li:hover .navbar-icon {
    width: 4rem;
}

.navbar-link-text {
    font-weight: bold;
    vertical-align: middle;
    color: var(--text-primary);
    text-decoration: underline var(--text-saturated);
    text-transform: uppercase;

    font-size: .4em;
    opacity: 0;
    transition: 0.2s;
}

.navbar>li:hover .navbar-link-text {
    font-size: 1em;
    opacity: 1;
}

