@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

:root {
    --text-primary: #b6b6b6;
    --text-secondary: #9c9cac;
    --bg-primary: #1a1a1a;
    --bg-secondary: #2d2d2d;

    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: var(--text-primary);
    background: var(--bg-primary);
}

body {
    margin: 0;
    padding: 0;
}

.headings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;

    font-size: 1.5em;
    color: var(--text-primary);
}

.headings * {
    margin: 0;
    padding: 0;
    font-weight: 200;
    vertical-align: text-top;
}

.name {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--text-primary);
    text-align: center;
    animation: name 4s infinite;
}

.field {
    display: inline-block;
}

.field .highlight {
    font-weight: normal;
}

.highlight {
    position: relative;
}

.highlight::before {
    width: 100%;
    height: 0.3em;
    content: ' ';
    display: block;
    position: absolute;
    background: hsl(10, 90%, 60%);
    transform: translate(1rem, 0.85em);
    z-index: -1;
}

.field-options-panel {
    position: absolute;
}

.field-option {
    display: block;
}

.field:not(:hover) .field-option {
    display: none;
}

@keyframes name {
    0% {
        color: hsl(10, 60%, 50%);
    }
    25% {
        color: hsl(5, 60%, 50%);
    }
    50% {
        color: hsl(10, 60%, 50%);
    }
    75% {
        color: hsl(15, 60%, 50%);
    }
    100% {
        color: hsl(10, 60%, 50%);
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5em;
    color: var(--text-secondary);
    margin: 0;
    padding: 0;
    height: 100vh;
}

.blog {
    max-width: 800px;
    margin: auto;
    padding: 30;
    line-height: 1.6;
}

.blog h1 {
    text-align: center;
}

.blog pre code {
    font-size: 1.1em;
    line-height: 1.25;
    color: var(--text-secondary);
}

.blog img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

