.navbar {
    --navbar-size: 5rem;
    --navbar-icon-size: 2rem;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: stretch;
}

.navbar[horizontal] {
    flex-direction: column;
}
.navbar[vertical] {
    flex-direction: row;
}

.navbar > .items {
    position: fixed;
    display: flex;
    justify-content: start;
    align-items: stretch;
    background: var(--bg-secondary);
    gap: 0.5rem;
}

.navbar[horizontal] > .items {
    width: 100%;
    height: var(--navbar-size);
    flex-direction: row;
}

.navbar[vertical] > .items {
    width: var(--navbar-size);
    height: 100vh;
    flex-direction: column;
}

.navbar > .items > .item {
    /* Text */
    color: var(--text-primary);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    text-overflow: ellipsis;
    /* Flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Other */
    padding: 0.5rem 1rem;
    gap: 0.25rem;
}

.navbar > .items > .item > .icon {
    height: var(--navbar-icon-size);
    width: var(--navbar-icon-size);
}

.navbar > .on-top-of {
    width: 100%;
}

.navbar[horizontal] > .on-top-of {
    margin-top: var(--navbar-size);
}

.navbar[vertical] > .on-top-of {
    margin-left: var(--navbar-size);
    margin-right: var(--navbar-size);
}
