/* Raleway font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');
/* JetBrains Mono font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Zilla Slab font */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --text-primary: #2c2c2c;
    --text-secondary: #4c4c4c;
    --text-light: #c2c2c2;
    --bg-primary: #ECECEC;
    --bg-secondary: #D1D1D1;
    --text-saturated: hsl(10, 90%, 60%);
    --pop-light: var(--text-saturated);
    --pop-dark: hsl(17.1, 55.9%, 52%);

    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    /* font-family: consolas, sans-serif; */
    color: var(--text-primary);
    background: var(--bg-primary);
}

body {
    margin: 0 100px;
}

a {
    color: var(--pop-dark);
    text-decoration: none;
}
