/* Raleway font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');
/* JetBrains Mono font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Zilla Slab font */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --text-primary: #2c2c2c;
    --text-secondary: #4c4c4c;
    --text-light: #c2c2c2;
    --bg-primary: #ECECEC;
    --bg-secondary: #D1D1D1;
    --text-saturated: hsl(10, 90%, 60%);

    font-size: 20px;
    /* font-family: 'Raleway', sans-serif; */
    font-family: consolas, sans-serif;
    color: var(--text-primary);
    background: var(--bg-primary);
}

/* Scale down for mobile */
@media only screen and (max-width: 768px) {
    :root {
        font-size: 100%;
    }
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
    color: var(--text-primary);
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: var(--bg-secondary);
}

.home {
    width: fit-content;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
}

.home > h1 {
    text-align: center;
}

.home > ul {
    padding-inline-start: 30px;
}

.home > ul > li {
    line-height: 2em;
    list-style: "— ";
}

.home .me-img {
    position: absolute;
    width: 200px;
    transform: translate(500px, -50px);
}

.headings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 90%;
    margin: 0 auto;

    font-size: 1.5em;
    color: var(--text-primary);
}

.headings * {
    margin: 0;
    padding: 0;
    vertical-align: text-bottom;
    text-align: center;
}

.name {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--text-saturated);
    text-align: center;
    animation: change_color 4s infinite;
}

@keyframes change_color {
    0% {
        filter: hue-rotate(0deg);
    }
    25% {
        filter: hue-rotate(7deg);
    }
    50% {
        filter: hue-rotate(0deg);
    }
    75% {
        filter: hue-rotate(-7deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}

.highlight {
    display: inline-block;
    position: relative;
    font-weight: bold;
    white-space: nowrap;
}

.highlight::before {
    width: 100%;
    height: 0.35em;
    top: calc(50% + 0.26em);
    margin-left: 0.6ch;
    content: ' ';
    display: block;
    position: absolute;
    background: var(--text-saturated);
    z-index: -1;
    filter: brightness(0.9);
    animation: change_color 4s infinite;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.25em;
    color: var(--text-secondary);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.project a {
    text-decoration: underline var(--text-saturated);
}

.project-image {
    display: block;
    width: 60%;
    margin: 0 auto;
    border: 1px solid var(--text-secondary);
    box-shadow: 0 0 0.2em var(--text-secondary);
    transition: all 0.2s ease-in-out;
    order: 10;
}

.project-image:hover {
    width: 64%;
    transform: scale(1.06);
}

.section {
    max-width: 80%;
    margin: 0 auto;
    padding: 30 40;
}

#blog {
    max-width: 800px;
    padding: 30;
    line-height: 1.6;
    margin: auto;
}

#blog #post {
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
}

#blog #post h1 {
    text-align: center;
}

#blog #post h1 a {
    color: var(--text-primary);
    text-decoration: underline var(--text-saturated);
    text-decoration-thickness: 7%; /* Default is 5%. Just a little thicker. */
}

#blog #post code {
    font-family: 'JetBrains Mono', monospace;
    color: var(--text-secondary);
}

#blog #post pre:has(code:only-child) {
    display: inline;
}

#blog #post pre>code {
    font-size: 1.1em;
    line-height: 1.25;
    color: var(--text-light);
    border-radius: 4px;
}

#blog #post :not(pre)>code {
    margin-left: 5;
    margin-right: 5;
}

#blog #post img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

*:has( + .subtitle) {
    margin-bottom: 0;
}

.subtitle {
    opacity: 0.5;
    text-align: center;
    margin-top: 0;
}
